.main-navigation__menu-btn {
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 2rem;
    cursor: pointer;
  }
  
  .main-navigation__menu-btn span {
    display: block;
    width: 3rem;
    height: 2.5px;
    background: white;
  }
  
  .main_navigation__logo  {
    display: none;
  }

  .main-navigation__title {
    color: white;
    width: 60%;
    font-size: 20px;
  }
  
  .main-navigation__title a {
    text-decoration: none;
    color: white;
  }
  
  .main-navigation__header-nav {
    display: none;
  }
  
  .main-navigation__drawer-nav {
    height: 100%;
  }
  
  @media (min-width: 768px) {
    .main-navigation__title {
      font-size: 30px;
    }

    .main_navigation__logo  {
      position: relative;
      width: 5rem;
      height: 100rem;
      margin-right: 2rem;
      display: block;
      
    }
  
    .main_navigation__logo img {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      max-height: 90%;
      max-width: 90%;
      transform: translate(-50%, -50%);
      border: 2px solid black;
      border-radius: 50%;
    }

    .main-navigation__menu-btn {
      display: none;
    }
  
    .main-navigation__header-nav {
      display: block;
      width: 60%;
    }
  }